@import 'variables.scss';
#article-page {
    padding: 0 5%;
    max-width: 50rem;
    font-family: $karla;
    @include tablet-size {
        margin: 0 auto;
    }

    line-height: 2em;

    hr{
        margin: 2rem 0;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            margin-bottom: 0;
        }
        #date, #author-name {
            font-family: $thasadith;
            margin: 0;
        }
        #date {
            color: neutral-c(5);
        }
        #author-name {
            font-weight: bold;
        }
        #front-img {
            max-width: 100vw;
            max-height: 30rem;
            min-width: 50vw;
            object-fit: contain;
        }
    }
    #content {
        font-family: $lora;
        img {
            max-width: 100%;
            max-height: 30rem;
            border-radius: 10px;
        }
        blockquote {
            margin: 0;
            padding: 0.5em 1em;
            border-left: 0.7em solid lighten($base-c2, 30);
            font-style: italic ;
            font-family: $roboto;
            font-size: 1.3em;
            ::before {
                content: '"';
            }
            ::after {
                content: '"';
            }
        }
        table, th, td {
            padding: 1em;
            border: 0.1em solid neutral-c(5);
            border-collapse: collapse;
        }
        pre, code {
            background: lighten($base-c2, 40%);
            color: $base-c1;
            line-height: 1em;
            word-wrap: break-word;
            white-space: pre-wrap;       /* Since CSS 2.1 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;
        }
    }
    .fb-like {
        align-self: flex-start;
    }
    footer {
        padding: 0 0 2rem 0;
    }
}