@import 'variables.scss';
#article-page {
    padding: 0 5%;
    max-width: 50rem;
    font-family: $karla;
    font-size: 1rem;
    @include tablet-size {
        margin: 0 auto;
        font-size: 1.2rem;
    }

    line-height: 2em;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            margin-bottom: 0;
        }
        #date, #author-name {
            font-family: $thasadith;
            margin: 0;
        }
        #date {
            color: neutral-c(5);
        }
        #author-name {
            margin-bottom: 2rem;
            font-weight: bold;
        }
        #front-img {
            width: 100vw;
            //max-height: 70vh;
        }
    }
    #content {
        font-family: $lora;
        //box-shadow: 0px 10px 50px grey;
        img {
            max-width: 100%;
            max-height: 30rem;
        }
        blockquote {
            margin: 0;
            padding: 0.5em 1em;
            border-left: 0.7em solid neutral-c(9);
            font-style: italic ;
            font-family: $roboto;
            font-size: 1.3em;
            ::before {
                content: '"';
            }
            ::after {
                content: '"';
            }
        }
        table, th, td {
            padding: 1em;
            border: 0.1em solid neutral-c(5);
            border-collapse: collapse;
        }
    }
}