@import '_variables.scss';
#description-intro {
    background: white url("../assets/portrait.svg") no-repeat right;
    font: 1.5rem $roboto;
    color: $base-c1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    .decor-line {
        height: 0.5em;
        width: 20em;
        max-width: 100%;
        font-weight: bold;
        background: $base-c1;
    }
    p {
        
        max-width: $m-screen-size;
        @include tablet-size {
            width: 70%;
        }
    }
}