@import 'variables.scss';
.image-bg-blur {
    height: 15rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: neutral-c(5);
    .image-bg-blur_background {
        height: 100%;
        width: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: blur(17px);
        -webkit-filter: blur(17px);
    }
    img {
        display: block;
  width: auto;
  height: 100%;
        position: relative;
        //margin: 0 auto;
        //z-index: 1;
        // position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}