@import 'variables.scss';

#journey-page {
    margin: 0 auto;
    width: 100%;
    @include tablet-size {
        width: 80%;
    }
    @include desktop-size {
        width: 70%;
    }
    hr {
        &:last-of-type{
            display: none;
        }
    }
}
.journey_section {
    width: 100%;
    &:last-of-type {
        margin-bottom: 4rem;
    }
}