@import 'variables.scss';

#journey-page {
    font-family: $lora;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    @include tablet-size {
        width: 80%;
    }
    @include desktop-size {
        width: 70%;
    }
    &_section {
        width: 100%;
    }
}