@import 'variables.scss';

#landing-page {
    padding-top: $navbar-height;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    color: white;
    text-align: left;
    padding: 3rem;
    font-family: $karla;
    font-size: 2rem;
    background: url(../assets/from-the-dark-pure.jpg) center / cover no-repeat;
    p {
        margin: 0;
    }
    h1 {
        font-size: 2em;
        margin: 0;
        display: inline;
        line-height: 1em;
    }
    button {
        background: none;
        border: solid white 0.1em;
        border-radius: 0.5em;
        color: white;
        font-size: 1rem;
        padding: 0.5em 1em;
    }
}