@import 'variables.scss';

#landing-page {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    color: white;
    text-align: left;
    padding: 5rem 5%;
    font-family: $karla;
    font-size: 3rem;
    background: url(https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.15752-9/56635162_320857551958184_5931509166177779712_n.jpg?_nc_cat=103&_nc_ht=scontent.ftpe7-3.fna&oh=1738627bdc6086f82f588847fbeec3d9&oe=5D74EADA) center / cover no-repeat;
    p {
        margin: 0;
    }
    h1 {
        font-size: 2em;
        margin: 0;
        display: inline;
        line-height: 1em;
    }
    #check-me-out-button {
        background: none;
        border: solid white 0.1em;
        border-radius: 0.5em;
        color: white;
        font-size: 1rem;
        padding: 0.5em 1em;
        text-decoration: none;
    }
}