@import 'variables.scss';
nav {
    background: $base-c1;
    //background: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: $navbar-height;
    z-index: 1;
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        margin: 0;
        padding: 0 2rem;
        li {
            padding: 0 5%;
            text-transform: uppercase;
            font-family: $roboto;
            a {
                color: white;
                text-decoration: none;
                &.active-tab {
                    border-bottom: 0.1rem solid white; 
                }
            }
        }
    }
    #nav-logo {
        height: $navbar-height;;
    }
}

#space-for-nav {
    height: $navbar-height;
}