@import 'variables.scss';
nav {
    background: $base-c1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        margin: 0;
        padding: 0 2rem;
        li {
            padding: 0 5%;
            text-transform: uppercase;
            font-family: $roboto;
            a {
                color: white;
                text-decoration: none;
                &.dim:not(:hover){ 
                    opacity: 0.5;
                }
                &.active, &.active-tab {
                    opacity: 1 !important;
                }
                &.active-tab {
                    border-bottom: 0.1rem solid white; 
                }
            }
        }
    }
}
