@import 'variables.scss';
.slideshow {
    position: relative;
    .slider{
        width: 100%;
        position: relative;
        &_prevBtn,&_nextBtn {
            outline: none;
            box-sizing: border-box;
            padding: 0;
            position: absolute;
            top: 0;
            border: none;
            height: 100%;
            width: 50%;
            background: none;
            img {
                position: absolute;
                top: 50%;
                right: 10%;
                transform: translate(0, -50%);
                width: 1rem;
                margin-left: auto;
            }
        }
        &_prevBtn {
            transform: scaleX(-1);
        }
        &_nextBtn {
            right: 0;
        }
    }
    &_idx-indicators{
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .slideshow_indicator {
            width: 0.3rem;
            height: 0.3rem;
            margin: 0.5rem;
            border-radius: 50%;
            background: $base-c2;
        }
        .slideshow_indicator--current {
            width: 0.5rem;
            height: 0.5rem;
            background: $base-c1;
        }
    }
}
