@import 'variables.scss';

@for $i from 0 through $contrast{
    .neutral-bg-#{$i}{
        background: neutral-c($i);
    }
}

.navbar-height {
    height: 3rem;
    @include tablet-size {
        height: 4rem;
    }
}

.color1-border {
    border: 0.2rem solid $base-c1;
}

.article-font-sizing {
    font-size: 1rem;
    @include tablet-size {
        font-size: 1.1rem;
    }
    @include desktop-size {
        font-size: 1.2rem;
    }
}

.article-fonts-style {
    h1, h2, h3, h4, h5, h6 {
        font-family: $karla;
    }
    .article-fonts-style--info {
        font-family: $thasadith
    }
    .article-fonts-style--content {
        font-family: $lora
    }
}

.responsive-text-padding {
    padding: 0 1.5rem;
    @include tablet-size {
        padding: 0;
    }
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0));
}

