@import 'variables.scss';

@for $i from 0 through $contrast{
    .neutral-bg-#{$i}{
        background: neutral-c($i);
    }
}

.color1-border {
    border: 0.2rem solid $base-c1;
}

.article-font-sizing {
    font-size: 1rem;
    @include tablet-size {
        font-size: 1.1rem;
    }
    @include desktop-size {
        font-size: 1.2rem;
    }
}

.responsive-text-padding {
    padding: 0 1.5em;
    @include tablet-size {
        padding: 0;
    }
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}