@import 'variables.scss';

@for $i from 0 through $contrast{
    .neutral-bg-#{$i}{
        background: neutral-c($i);
    }
}

.color1-border {
    border: 0.2rem solid $base-c1;
}

.article-font-sizing {
    font-size: 1rem;
    @include tablet-size {
        font-size: 1.1rem;
    }
    @include desktop-size {
        font-size: 1.2rem;
    }
}