$base-c1: hsl(240, 46%, 22%);
$base-c2: hsl(56, 100%, 45%);
$contrast: 10;

$s-screen-size: 320px;
$m-screen-size: 700px;
$l-screen-size: 1000px;

$roboto: 'Roboto', sans-serif;
$karla: 'Karla', sans-serif;
$lora: 'Lora', serif;
$thasadith: 'Thasadith', sans-serif;

$navbar-height: 4rem;

@function neutral-c($lightness) {
    @return hsl(0,0%,$lightness * 10%);
}

@mixin tablet-size{
    @media only screen and (min-width: $m-screen-size) {
        @content;
    }
}

@mixin desktop-size{
    @media only screen and (min-width: $l-screen-size) {
        @content;
    }
}