@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Karla');

$base-c1: hsl(240, 46%, 22%);
$base-c2: hsl(34, 80%, 52%);
$contrast: 10;
@function neutral-c($lightness) {
    @return hsl(0,0%,$lightness * 10%);
}
@for $i from 0 through $contrast{
    .neutral-bg-#{$i}{
        background: neutral-c($i);
    }
}

$roboto: 'Roboto', sans-serif;
$karla: 'Karla', sans-serif;

$navbar-height: 4rem;