@import "../../node_modules/normalize.css/normalize.css";
@import 'variables.scss';
@import 'navbar.scss';
@import 'landing-page.scss';
@import 'footer.scss';
@import 'description-intro.scss';
@import 'article-page.scss';

html {
    line-height: 1.5rem;
}

.big-word {
    font-size: 50px;
    font-weight: bold;
}
